# Binarios compilados
app
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de test
*.test
*.out

# Archivos de logs
*.log
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
